body{
    background-color: grey;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title{
  color: black;
}

#title{
  font-size: 40px;
  text-transform: uppercase;
}

a{
  text-decoration: line-through;
}

.post_title{
    font-size: 16px;
    font-style:italic;
    margin: 0;
    margin-bottom: 15px;
}
.post{
  background-color: white;
  padding: 15px;
  border: 3px solid #000;
  margin-bottom: 15px;
  border-radius: 5px;
  text-transform: capitalize;
}
.post_content{
  margin: 0;
  margin-bottom: 15;
  text-transform: capitalize;
  text-align: center;
}
.post_image{
  margin-bottom: 15px;
  width: 100%;
}
.photo{
  border: 1px solid #5050;
  border-radius: 50px;
  width: 50%;
  height:50%;
}
.contact_list{
  list-style-type: square;
  padding-left: 15px;
}
.contact_list li a{
  color:blue
}